@model List<Foodi.Areas.Admin.Models.Category>;

    <style>
    .popup {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(black, .8);
        backdrop-filter: blur(10px);
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        // The url changes when the anchor is triggered and CSS can watch that &:target

    {
        opacity: 1;
        visibility: visible;
    }

   

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
    }
    </style>
<script>

    notify({
        message: 'Notification Message Here'
    });
</script>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            @ViewBag.ProductCount
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-block">


                            

                               




                                <form asp-area="Admin" asp-controller="Admin" asp-action="DeleteMultipleCarts" method="post">
                                    @* <div class="row">
                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-danger" id="btnDeleteMultiple">Delete Selected</button>
                                        </div>
                                    </div> *@


                                    <div class="row">

                                        <div class="col mobile-inputs">
                                            <div class="d-flex mb-3">
                                                <div class="p-2 w-100">
                                                    <h4 class="">Category Lists</h4>
                                                </div>

                                                <div class="ms-auto mt-2 ml-2">
                                                    <a type="button" class="btn btn-success mdi mdi-plus ml-lg-5" id="btn" asp-area="Admin" asp-controller="Admin" asp-action="ExportCateoriesToExcel">&nbsp;Export Excel</a>
                                                </div>
                                            </div>



                                            <div class="d-flex">
                                                <div class="p-2 w-100">
                                                    <label>
                                                        Search Any
                                                    </label>
                                                    <div class="w-10">
                                                        <input type="text" class="form-control input-sm input-small input-inline" id="search" name="search" placeholder="Search Name" />
                                                    </div>
                                                </div>
                                                <div></div>
                                                <div class="mt-4 p-2 ">
                                                    <button type="submit" class="btn btn-danger" id="btnDeleteMultiple">Delete Selected</button>
                                                </div>
                                                <div class="p-2 flex-shrink-1 mt-4">
                                                    <a type="button" class="btn btn-success mdi mdi-plus ml-lg-5" id="btn" asp-area="Admin" asp-controller="Admin" asp-action="AddCategory">Add Category</a>
                                                </div>
                                            </div>

                                           
              
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table data-table-export table-hover nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th><span class="mr-2">Select All</span><input type="checkbox" id="selectAll"></th>
                                                                <th class="table-pulse">Name</th>
                                                               @*  <th>Image</th> *@
                                                                <th>IsActive</th>
                                                                <th>CreatedDate</th>
                                                                <th>ModifiedDate</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var category in Model)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <input type="checkbox" name="categoryIds" value="@category.CategoryId" />
                                                                    </td>
                                                                    <td>@category.CategoryName</td>
                                                                   @*  <td><img src="~/@category.Image" height="100px" width="100px" /></td> *@
                                                                    <td>@category.IsActive</td>
                                                                    <td>@category.CreatedDate</td>
                                                                    <td>@category.ModifiedDate</td>
                                                                    <td>
                                                                        <a href="@Url.Action("EditCategory", "Admin", new { area = "Admin" ,categoryId = @category.CategoryId})" class="your-css-class">
                                                                            <span class="badge badge-primary">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                                                                </svg>
                                                                            </span>
                                                                        </a>
                                                                        <a class="your-css-class" onclick="confirmDelete('@Url.Action("DeleteCategory", "Admin", new { area = "Admin", categoryId = @category.CategoryId})')">
                                                                            <span class="badge badge-danger">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                                                </svg>
                                                                            </span> 
                                                                        </a>
                                                                       @*  <a asp-area="Admin" asp-controller="Admin" asp-action="EditCategory" asp-route-categoryId="@category.CategoryId">
                                                                            <button class="btn btn-primary">Edit</button>
                                                                        </a>
                                                                        <a asp-area="Admin" asp-controller="Admin" asp-action="DeleteCategory" asp-route-categoryId="@category.CategoryId"> <button class="btn btn-danger">Delete</button></a> *@
                                                                    </td>
                                                                </tr>
                                                            }

                                                        <tbody>
                                                    </table>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
      function confirmDelete(url) {
        if (confirm("Are you sure you want to delete?")) {
            window.location.href = url; // Redirect to delete action if user clicks OK
        } else {
            // Do nothing or handle cancellation
        }
    }

    $(document).ready(function () {
        $('#btnDeleteMultiple').hide();

        $('input[name="categoryIds"]').on('change', function () {
            if ($('input[name="categoryIds"]:checked').length > 0) {
                $('#btnDeleteMultiple').show();
            } else {
                $('#btnDeleteMultiple').hide();
            }
        });

        $('#selectAll').on('click', function () {
            $('input[name="categoryIds"]').prop('checked', $(this).prop('checked'));

            if ($(this).prop('checked')) {
                $('#btnDeleteMultiple').show();
            } else {
                $('#btnDeleteMultiple').hide();
            }
        });

        function filterTable() {
            var searchValue = $('#search').val().toLowerCase();

            $('table.data-table-export tbody tr').each(function () {
                var nameColumn = $(this).find('td:eq(1)').text().toLowerCase();
                var createdDateColumn = $(this).find('td:eq(4)').text().toLowerCase();
                var modifiedDateColumn = $(this).find('td:eq(5)').text().toLowerCase();
                var IsActiveColumn = $(this).find('td:eq(3)').text().toLowerCase();

                if (nameColumn.includes(searchValue) || createdDateColumn.includes(searchValue) || modifiedDateColumn.includes(searchValue) || IsActiveColumn.includes(searchValue)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        $('#search').on('input', function () {
            filterTable();
        });
    });
</script>
